{% extends 'main.html' %} {%block head%}
<style>
    
        table, td, th {  
            border: 1px solid #ddd;
            text-align: left;
          }
          
          table {
            border-collapse: collapse;
            width: 100%;
          }
          
          th, td {
            padding: 15px;
          }
          
    
</style>
{%endblock head%} 
{%block body%}
    
{%for structure in structures%}
    <div>
      <table>
          <tr>
            <th>structureID</th>
            <th>frame</th>
            <th>payloadCAP</th>
            <th>color</th>
            
          </tr>
          <tr>
            <td>{{structure.structureID}}</td>
            <td>{{structure.frame}}</td>
            <td>{{structure.payloadCAP}}</td>
            <td>{{structure.color}}</td>
           
            
            <td>edit</td>
            <td>delete</td>
          </tr>
      </table>
      </div>

     

    



  
     
    
    
{%endfor%}
  

{% endblock body%}